﻿<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
	<httpErrors errorMode="Custom" existingResponse="Replace">
  <remove statusCode="404" />
  <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
</httpErrors>
    <rewrite>
	
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?!www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://www.{C:0}/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Next.js API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="http://localhost:3000/_next/{R:1}" />
        </rule>

        <rule name="Home" stopProcessing="true">
          <match url="^/$" />
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="Rewrite iletisim HTML" stopProcessing="true">
          <match url="^iletisim$" />
          <action type="Rewrite" url="iletisim.html" />
        </rule>
        <rule name="Rewrite hakkimizda HTML" stopProcessing="true">
          <match url="^hakkimizda$" />
          <action type="Rewrite" url="hakkimizda.html" />
        </rule>
        <rule name="Rewrite foto-galeri HTML" stopProcessing="true">
          <match url="^foto-galeri$" />
          <action type="Rewrite" url="foto-galeri.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>