::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 53px;
  background: #777;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

::-webkit-scrollbar-track :hover{
  background-color: #cccc;
  border-radius: 5px;
}
